Alfresco {
  com.sun.security.auth.module.Krb5LoginModule sufficient;
};
   
ShareHTTP
{
   com.sun.security.auth.module.Krb5LoginModule required
   storeKey=true
   useKeyTab=true
   doNotPrompt=true
   keyTab="/etc/share.keytab"
   principal="HTTP/example.com@EXAMPLE.COM";
};
          
  com.sun.net.ssl.client {
    com.sun.security.auth.module.Krb5LoginModule sufficient;
};
          
other {
  com.sun.security.auth.module.Krb5LoginModule sufficient;
};
