Alfresco {
  com.sun.security.auth.module.Krb5LoginModule sufficient;
};
   
AlfrescoHTTP
{
  com.sun.security.auth.module.Krb5LoginModule required
    storeKey=true
    useKeyTab=true
    doNotPrompt=true
    debug=true
    moduleBanner=true
    keyTab="/etc/process.keytab"
    principal="HTTP/example.com@EXAMPLE.COM";
};

com.sun.net.ssl.client {
    com.sun.security.auth.module.Krb5LoginModule sufficient;
};

other {
  com.sun.security.auth.module.Krb5LoginModule sufficient;
};
